* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  background-image: url(image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.why-techtonic {
  padding: 50px 20px;
  background-color: #ffffff;
  
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section-header p {
  color: #555;
}

.reasons {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.reason-card {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

.reason-card h3 {
  margin-bottom: 10px;
}

.reason-card p {
  line-height: 1.6;
  color: #444;
}


@media (max-width: 768px) {
  .reasons {
    flex-direction: column;
  }
}
